<!DOCTYPE html>
<html>
  <head>
    <title>RSQIS</title>
    <%- include('./common/link'); %> <%- include('./common/navbar',{nav:{
    home:"", road:"active", work:"", user:data.user, username:data.username }});
    %>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    


      <div class="container-fluid" style="margin-top:5%;margin-bottom:10%;">
        
         <div class="row text-center" style="padding: 3%;"> <h2 class="text-center" style="margin: auto;"><%=data.roadData.roadName%></h2></div>
        <div class="row">
                      <div class="col-md-12" id="map_canvas" style="height: 300px">


                      </div>
                  </div>
                  <div class="row" style="margin-top:1%; text-align: center;">
                    <div class="col col-4">
                    <button class="btn btn-outline-primary" onclick="fil('<%=data.curRoad%>')" >Undertak Work <i class="far fa-tools"></i></button>
                       </div>
                       <div class="col col-4">
                        <button class="btn btn-outline-success" onclick="rej('<%=data.curRoad%>')"  >Work Completed <i class="far fa-road"></i></button>
                           </div>
                           <div class="col col-4">
                            <a class="btn btn-outline-warning" href="/proof/<%=data.curRoad%>" >Check Proof <i class="far fa-play-circle"></i></a>
                               </div>
                      </div>
                       
                        <div class="jumbotron" >
                          <div class="row">
                        <div class="col-md-6">
                          <h3><B>Date:<%=data.data[0].Date%></B></h3>
                         </div>
                         <div class="col-md-6">
                          <h3><B>Status:<%if(data.roadData.Status=="untouch"){%>
                            New Road
                          <%}else if(data.roadData.Status=="filtered"){%>
                            Ongoing Road Repairs 
                            <%}else{%>
                              Work Completed
                              <%}%>
                          </B></h3>                      
                        </div>
                        </div>
                          <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                        </div>
                         
                    



      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Video</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-21by9" id="vid" >

            <iframe class="embed-responsive-item" src="#" id="frm">
              <button class="btn btn-danger" style="position: absolute; z-index: 10; ">CLOSE</button>
            </iframe>
          </div >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <%- include('./common/footer'); %>
      <%- include('./common/script'); %>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "gravity force  on Z axis"
	},
	axisY:{
		includeZero: false
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: [
      
      <%for(let ele of data.data){%>
              {y:<%=ele.g_force_in_Z%>},  
        <%}%>
			
		]
	}]
});
chart.render();

}

            // function drawChart() {
            //   var data = google.visualization.arrayToDataTable([
            //     ['Time', "Z"],
            //     <%for(let ele of data.data){%>
            //     ['<%=ele.Time%>',<%=ele.g_force_in_Z%>],
                
            //     <%}%>
            //   ]);
  
            //   var options = {
            //     title: 'g force comparison in 3 axsis',
            //     curveType: 'function',
            //     legend: { position: 'bottom' }
            //   };
  
            //   var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
            //   chart.draw(data, options);
            // }
          </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBURXw2Qd9JRmA_zcZnIymC1ID5ioc2C-8&callback=initMap"
          async defer>
    </script>
    <script>


              initMap();
              function initMap() {
                var myLatLng = {lat: 23.0038795, lng: 72.6208747};
                var myLatLng2 = {lat: 23.003839997347036, lng: 72.6194584936402};
                var myLatLng3 = {lat:23.00350422433, lng: 72.61769896452643};
              var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 16,
                center: {lat:<%=data.data[0].Latitude%>,lng:<%=data.data[0].Longitude%>}
              });

              <%for(let ele of data.data ){%>
                var marker = new google.maps.Marker({
                position: {lat:<%=ele.Latitude%>,lng:<%=ele.Longitude%>},
                map: map,
                title: 'Bad Quality road'
              });

            google.maps.event.addListener(marker, 'click', function (event) {

              $('#frm').attr('src', "/data/<%=ele.video%>.mp4")
              $('#myModal').modal('show');

          });
              <%}%>






      }
    </script>
   
    <script>
      function fil(id) {
        $.ajax({
          type: "PUT",
          url: "http://localhost:3000/road/filter/" + id,
          success: function(resullt) {
            setTimeout(function() {
              location.reload();
            }, 500);
          }
        });
      }
      function rej(id) {
        $.ajax({
          type: "PUT",
          url: "http://localhost:3000/road/completed/" + id,
          success: function(resullt) {
            setTimeout(function() {
              location.reload();
            }, 500);
          }
        });
      }
    </script>
  </body>
</html>
