<!DOCTYPE html>
<html>
  <head>
    <title>RSQIS</title>
    <%- include('./common/link'); %> <%- include('./common/navbar',{nav:{
    home:"", road:"", work:"active", user:data.user, username:data.username }});
    %>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container" style="margin-top:5%;margin-bottom:5%;"></div>

    <%- include('./common/footer'); %> <%- include('./common/script'); %>
    <a href="/addWorker"><button class="btn btn-success">AddWorker</button></a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let worker of data.user){%>
        <tr>
          <th scope="row">1</th>
          <td><%=worker.Firstname%> <%=worker.Lastname%></td>
          <td><%=worker.Email%></td>
          <td><%=worker.Phone%></td>
          <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal"  onclick="del(this)" id="<%=worker.userID%>"  data-target="#basicExampleModal">
            Delete
          </button>
          </button></td>
        </tr>
        <%}%>
      </tbody>
    </table>

    <!-- Modal -->
    <div
      class="modal fade"
      id="basicExampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Do you Want to Delete?</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-sm  btn-secondary"
              data-dismiss="modal"
            >
              No
            </button>
            <button type="submit" class="btn btn-sm btn-danger" onclick="cdel()">Yes,Delete</button>
          
          </div>
        </div>
      </div>
    </div>
    <script>
      let id=null;
      function del(e){
        id=e.id;
        
              
      }
      function cdel(){
        $.ajax({
    url: `http://localhost:3000/worker/delete/${id}`,
    type: 'DELETE',
    success: function(result) {''
        console.log(result)
        if(result.op){
          document.location.reload()
        }
    }
});
      }

    </script>
  </body>
</html>
